/*
!.gitignore
!README.md
!clinicoeurs-database.sql

!/wp-content
/wp-content/*
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/clinicoeurs
/wp-content/themes/clinicoeurs/public
/wp-content/themes/clinicoeurs/resources/bug-sass/

/wp-content/themes/clinicoeurs/node_modules
