@import "../helpers/var";

.header{
  margin-top: $phoneMediumVerticalSpacer;
  margin-right: $phoneMediumMarginSize;
  margin-left: $phoneMediumMarginSize;
  display: flex;
  justify-content: space-between;
  align-items: center;

  //width: calc(100% - ($phoneMediumMarginSize*2));

  a {
    text-decoration: none;
    font-weight: normal;
  }

  img {
    width: 50px;
  }

  p {
    margin-block: 0;
  }

  @include mq(large-phone){
    //max-width: $maxWidthLargePhone;
    margin-right: $laptopMediumMarginSize;
    margin-left: $laptopMediumMarginSize;
  }

  @include mq(large-tablet){
    //max-width: $maxWidthLargeTablet;
    margin-right: $largeLaptopMediumMarginSize;
    margin-left: $largeLaptopMediumMarginSize;
    font-size: 1.125rem;
  }

  @include mq(large-laptop){
    max-width: calc($maxWidthLargeLaptop + 200px);
    margin-right: $largeLaptopMediumMarginSize;
    margin-left: $largeLaptopMediumMarginSize;
    font-size: $largeLaptopfontSize;
  }
}