.logo {
    &:hover {
      text-decoration: none;
      font-family: $sans-serif;
      font-style: initial;
      font-size: initial;
      font-weight: initial;
    }


  &__container {
    display: flex;
    align-items: center;

    p {

    }
  }

  display: block;

  &__text {
    margin-block-start: 0rem;
    margin-inline-start: 0.5rem;
    line-height: 1.25rem;
    width: 6rem;
  }
}
