.logo {
  &__container {
    display: flex;
    align-items: center;

    p {

    }
  }

  &__text {
    margin-block-start: 0rem;
    margin-inline-start: 0.5rem;
    line-height: 1.25rem;
    width: 6rem;
  }
}
