.clinicoeurs {
  & .call-to-action {
    font-size: 3rem;
    margin: 3rem;
    margin-block-end: 6rem;
    font-weight: normal;
    text-decoration: none;
    text-align: center;

    @include mq(phone){
      font-size: 2rem;
    }

    @include mq(large-tablet){
      margin: 9rem;
      margin-block-end: 12rem;
    }
  }
}