@import "../helpers/var";
.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-block: 5.5rem;
  & section, &  p, & img, & h2{
    margin: 0;
    padding: 0;
  }
}