@import "var";

:root {
  background-color: $background-color;
  font-family: $sans-serif;
  font-size: 16px;
  color: $color;
  line-height: 125%;
}
*:focus-visible {
  transition: none;
  outline: #EF6C5D solid 3px;
}

*::selection {
  background-color: $pastelRed;
}

body {
  background-color: $background-color;
  font-family: $sans-serif;
  color: $color;
  font-size: 16px;

  //pour un sticky footer
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  //pour pas avoir de defilement verticale en
  //ajoutant des formes qui doivent sortir de la page
  overflow-x: clip;

  //pour un sticky footer
  flex-grow: 1;

  //pour que toutes les section soit aligné
  display: flex;
  flex-direction: column;
  align-items: center;
}

em {
  font-style: italic;
  font-family: $serif;
  font-size: 115%;
}

strong {
  font-weight: bold;
}

img {
  width: 300px;
  object-fit: cover;
}

p {
  margin-block-start: 1rem;
  line-height: $phoneLineHeight;
  max-width: 300px;

  @include mq(large-tablet) {
    font-size: 1.15rem;
    max-width: 400px;
  }
  @include mq(large-desktop) {
    font-size: 1.25rem;
    max-width: 500px;
  }
}

h2 {
  margin-block-end: 1.5rem;
  font-size: $phoneH2Size;

  @include mq(tablet) {
    font-size: $tabletH2Size;
  }
}

h3 {
  margin-block-start: 1.5rem;
  font-size: $phoneH3Size;

  @include mq(laptop) {
    max-width: 450px;
    font-size: $laptopH3Size;
    line-height: 125%;
  }
}


a {
  transform-origin: center;
  transition:  200ms ease-in-out;
  @include basicAnchor;
}

a:hover {
  transform-origin: center;
  transition: 200ms ease-in-out;
  font-family: $serif;
  font-style: oblique;
  font-size: 140%;
}

section {
  margin-block: 2rem;
  @include mq(tablet) {
    margin-block: 3rem;
  }
  @include mq(laptop) {
    margin-block: 6rem;
  }
}