.single-service {
  & .call-to-action {
    font-size: 3rem;
    margin: 3rem;
    margin-block-end: 6rem;
    font-weight: normal;
    text-decoration: underline;
    text-align: center;

    @include mq(phone){
      font-size: 2rem;
    }

    @include mq(large-tablet){
      display: flex;
      align-items: center;
      height: calc(50vh - 4rem);
    }
  }
}