@import "var";
:root {
  background-color: $background-color;
  font-family: $sans-serif;
  font-size: 16px;
  color: $color;
}

body {
  background-color: $background-color;
  font-family: $sans-serif;
  color: $color;
  font-size: 16px;

  //pour un sticky footer
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

main {
  //pour pas avoir de defilement verticale en
  // ajputant des formes qui doivent sortir de la page
  overflow-x: clip;
  //pour un sticky footer
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

em {
  font-style: italic;
  font-family: $serif;
}

//pour pas avoir un des images/paragraphes trop grand
//avant de faire le css
main > * {
  img {
    width: 300px;
    object-fit: cover;
  }

  p{
    max-width: 300px;
  }
}



